*{
    padding: 0;
    margin: 0;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#navbar{
    background-color: #0f1111;
    height: 60px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 180px;
    text-decoration: none;
}
#logo{
    color: #f08804;
    font-size: 25px;
    margin-left: 10px;
}
input{
    color:black;    
}
.contentBox{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    color: black;
    padding: 40px;
    margin: 64px;
    white-space: nowrap; 
    /* white-space:nowrap --> by this the big text stays in one line */
}
#content{
    height:580px;
}
footer{
    background-color: #0f1111;
    text-align: center;
}